fastapi
pyjwt
tortoise-orm
uvicorn[standard]
passlib
bcrypt
pyjwt
python-multipart
python-dotenv
pytest
pydantic
mkdocs
pandas
aerich
polars==0.16.11
pika
tortoise-orm[asyncpg]
mkdocstrings[python]
mkdocs-material
mkdocs-static-i18n
pyarrow